/* Global styling */

/* Reset box sizing so that all elements' boxes are calculated using the element's content, padding and border 
instead of just the content */
* {
    box-sizing: border-box;
    font-family: "Fjalla One", serif;
    font-weight: 700;
    font-style: normal;
    font-size: x-large;
    margin: 0px;
}

  a {
    color: inherit;         /* Inherits the text color from the parent element */
    text-decoration: none;  /* Removes the underline */
  }


/* Grid container for full page */

.maingrid {
    display: grid;
    /* Give width of page 100% so that it always fits the width of the viewing device */
    width: 100%;
    /*  Can't set height to 100% as this makes the height too large to make the page comfortably viewable. 
    Instead set the max height to 900px */
    max-height: 900px;
    /* adds a 10px gap between each grid element and you can easily see this */
    grid-template: repeat(8, 1fr) / repeat(12, 1fr);
    /* Grid template created with 8 equal sized rows and 12 equal sized columns */
}

/* Nav section */

.navleft {
    /* Give element its grid area */
    grid-area: 1 / 1 / 2 / 3;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.navSpace {
    grid-area: 1 / 3 / 2 / 10;
    background-color: #333;
}

.navrightleft {
    /* Give element its grid area */
    grid-area: 1 / 9 / 2 / 11;
    background-color: #333;
    /* Use diplay flex on navright so that its childen sit side by side */
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.navrightright {
    /* Give element its grid area */
    grid-area: 1 / 11 / 2 / 13;
    background-color: #333;
    /* Use diplay flex on navright so that its childen sit side by side */
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.navrightright:hover {
    background-color: rgb(59, 166, 166);
    color: black;
    /* width: 100%;
    height: 100%; */
}

.navrightleft:hover {
    background-color: rgb(59, 166, 166);
    color: black;
    /* width: 100%;
    height: 100%; */
}


/* Image of me */
.image {
    grid-area: 3 / 9 / 5 / 12;
    background-image: url('./resources/PAN467738.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* About me section */
.header {
    grid-area: 3 / 2 / 4 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.me {
    grid-area: 4 / 2 / 5 / 9;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Skills section */

.skills {
    grid-area: 5 / 2 / 6 / 5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon1 {
    grid-area: 6 / 2 / 7 / 4;
}

.icon2 {
    grid-area: 6 / 4 / 7 / 6;
}

.icon3 {
    grid-area: 6 / 6 / 7 / 8;
}

.icon4 {
    grid-area: 6 / 8 / 7 / 10;
}

.icon5 {
    grid-area: 7 / 2 / 8 / 4;
}

.icon6 {
    grid-area: 7 / 4 / 8 / 6;
}

.icon7 {
    grid-area: 7 / 6 / 8 / 8;
}

.icon8 {
    grid-area: 7 / 8 / 8 / 10;
}


img {
    width: 4rem;
    height: 4rem;
}