/* Global styling */

/* Reset box sizing so that all elements' boxes are calculated using the element's content, padding and border 
instead of just the content */
* {
    box-sizing: border-box;
    font-family: "Fjalla One", serif;
    font-weight: 700;
    font-style: normal;
    font-size: large;
    background-color: rgb(183, 180, 180);
}

img {
    max-width: 100%;
    height: 100%;
    /* display: block;
    border-radius: 6px;
    object-fit: cover; */
}

/* Grid container for full page */

.maingrid {
    display: grid;
    /* Give width of page 100% so that it always fits the width of the viewing device */
    width: 100%;
    /*  Can't set height to 100% as this makes the height too large to make the page comfortably viewable. 
    Instead set the max height to 900px */
    height: 100vh;
    /* adds a 10px gap between each grid element and you can easily see this */
    grid-template: repeat(9, 1fr) / repeat(12, 1fr);
    /* Grid template created with 12 equal sized rows and 12 equal sized columns */
    gap: 10px;
}

/* Grid components */

.aboutme {
    grid-area: 1 / 1 / 5 / 5;
    background-color: rgb(107, 107, 109);
    display: flex;
    justify-content: center;
    /* horizontal */
    align-items: center;
    /* vertical */
    text-align: center;
    /* for multiline text */
}

.aboutme:hover {
    background-color: #e0e0ff;
    border-color: #6666ff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.me {
    grid-area: 1 / 5 / 5 / 9;
    background-color: rgb(107, 107, 109);
}

.me:hover {
    background-color: #e0e0ff;
    border-color: #6666ff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.contactme {
    grid-area: 1 / 9 / 5 / 13;
    background-color: rgb(107, 107, 109);
    display: flex;
    justify-content: center;
    /* horizontal */
    align-items: center;
    /* vertical */
    text-align: center;
    /* for multiline text */
}

.contactme:hover {
    background-color: #e0e0ff;
    border-color: #6666ff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.projects {
    grid-area: 5 / 1 / 7 / 7;
    background-color: rgb(107, 107, 109);
    display: flex;
    justify-content: center;
    /* horizontal */
    align-items: center;
    /* vertical */
    text-align: center;
    /* for multiline text */
}

.projects:hover {
    background-color: #e0e0ff;
    border-color: #6666ff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.resume {
    grid-area: 5 / 7 / 7 / 13;
    background-color: rgb(107, 107, 109);
    display: flex;
    justify-content: center;
    /* horizontal */
    align-items: center;
    /* vertical */
    text-align: center;
    /* for multiline text */
}

.resume:hover {
    background-color: #e0e0ff;
    border-color: #6666ff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.skills {
    grid-area: 7 / 1 / 8 / 13;
    background-color: rgb(107, 107, 109);
    display: flex;
    justify-content: center;
    /* horizontal */
    align-items: center;
    /* vertical */
    text-align: center;
    /* for multiline text */
}

.skills:hover {
    background-color: #e0e0ff;
    border-color: #6666ff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.html {
    grid-area: 8 / 1 / 9 / 3;
    justify-content: center;
    /* horizontal */
    align-items: center;
    /* vertical */
    text-align: center;
    /* for multiline text */
    margin: 30px
}

.react {
    grid-area: 8 / 3 / 9 / 5;
    margin: 30px
}

.node {
    grid-area: 8 / 5 / 9 / 7;
    margin: 30px
}

.jsx {
    grid-area: 8 / 7 / 9 / 9;
    margin: 30px
}

.css {
    grid-area: 8 / 9 / 9 / 11;
    margin: 30px
}

.git {
    grid-area: 8 / 11 / 9 / 13;
    margin: 30px
}

.mysql {
    grid-area: 9 / 3 / 10 / 5;
    margin: 30px
}

.redux {
    grid-area: 9 / 9 / 10 / 11;
    margin: 30px
}

.github {
    grid-area: 9 / 5 / 10 / 7;
    margin: 30px
}

.javascript {
    grid-area: 9 / 7 / 10 / 9;
    margin: 30px
}